<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.succlz123.s1go">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MainApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.thread.list.ThreadListActivity"/>

        <activity android:name=".ui.thread.info.ThreadInfoActivity"/>

        <activity android:name=".ui.blackList.BlackListActivity"/>

        <activity android:name=".ui.picture.PictureActivity"/>

        <activity android:name=".ui.thread.send.SendThreadsActivity"
                  android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>

        <activity android:name=".ui.thread.send.SendReplyActivity"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.login.LoginActivity"
                  android:launchMode="singleTop">
        </activity>

    </application>
</manifest>
