<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.succlz123.s1go.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- network access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- get gsm network info -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- get wifi network info -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- write sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/DrawerlayoutTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ThreadsActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity
            android:name=".ui.activity.ReviewsActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity
            android:name=".ui.activity.ImageViewActivity"
            android:theme="@style/TranslucentTheme"/>

        <activity
            android:name=".ui.activity.SetThreadsActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activity.SetReviewsActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:launchMode="singleTop">
        </activity>

        <!--透明主题-->
        <!--android:theme="@style/Theme.AppCompat.Translucent"-->
    </application>

</manifest>
